<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div style="padding: 20px 0px 0px 0px;">
        <div class="row">
          <div class="col-md-8">
            <h3>Reporte {{title}}</h3>
          </div>

          <div class="col-md-2">
            <select class="form-control" placeholder="Enviar a: ">
              <option value='PDF'>Archivo PDF</option>
            </select>
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-light" (click)="accept()">
              <i class="fa fa-check" id="accept" aria-hidden="true"></i>Aceptar</button>
            <button type="button" class="btn btn-light" (click)="goBack()">
              <i class="fa fa-arrow-left" id="cancel" aria-hidden="true"></i>Volver</button>
          </div>
        </div>
        <hr>

        <div class="row" id="tab">
          <ngx-datatable id="tabla_doc" class="material" [rows]="rows" [columnMode]="'force'" [summaryHeight]="'auto'"
            [headerHeight]="60" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="loadingIndicator"
            [summaryRow]="enableSummary" [summaryPosition]="summaryPosition" [scrollbarH]="false">

            <ngx-datatable-column name="Artículo" prop="article" width="150" ></ngx-datatable-column>

            <ngx-datatable-column name="Descripción" prop="description" width="300" [summaryTemplate]="nameSummaryCell"></ngx-datatable-column>

            <ngx-datatable-column name="Unidad" prop="unit" width="70"></ngx-datatable-column>

            <ngx-datatable-column name="Stock Ini." prop="startStock" [summaryTemplate]="totalStart" width="100">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Compras" prop="purchases" [summaryTemplate]="totalPurchases" width="70">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Salidas" prop="outs" [summaryTemplate]="totalOuts" width="70">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ventas" prop="sales" [summaryTemplate]="totalSales" width="70">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Entradas" prop="ins" [summaryTemplate]="totalIns" width="70">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Stock Fin." prop="endStock" [summaryTemplate]="totalEnd" width="100">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Stock G-01" prop="stockG01" [summaryTemplate]="totalStockG01" width="100">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
                <p style="text-align: right; margin-right: 15%">
                  {{value | mConst}}
                </p>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

          <ng-template #nameSummaryCell>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: left">
                <span id="boldy" class="chip-content">Totales: <br />Totales artículos que manejan Stock: <br />Totales artículos
                  de
                  servicio:</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalStart>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right">
                <span id="boldy">{{addedStart | mConst}}<br />{{totals?.start | mConst}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalPurchases>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right">
                <span id="boldy">{{addedP | mConst}}<br />{{totals?.purchases1 | mConst}}<br />{{totals?.purchases2 | mConst}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalOuts>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right">
                <span id="boldy">{{addedO | mConst}}<br />{{totals?.Outs1 | mConst}}<br />{{totals?Outs2 | mConst}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalSales>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right">
                <span id="boldy">{{addedS | mConst}}<br />{{totals?.sales1 | mConst}}<br />{{totals?.sales2 | mConst}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalIns>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right">
                <span id="boldy">{{addedI | mConst}}<br />{{totals?.ins1 | mConst}}<br />{{totals?.ins2 | mConst}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalEnd>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right">
                <span id="boldy">{{addedEnd | mConst}}<br />{{totals?.end1 | mConst}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #totalStockG01>
            <div class="neto-container" rowHeight="400px">
              <div style="text-align: right; margin-right: 15%">
                <span id="boldy">{{addedG01 | mConst}}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
