#tabla_doc {
  width: 100%;
}
.fa-check {
  color: green;
  padding-right: 4px;
}
.fa-arrow-left {
  color: red;
  padding-right: 4px;
}
h3 {
  margin: 0;
}
#tab {
  padding: 5px;
}
#boldy {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
