#accept {
  color: green;
}
#cancel {
  color: red;
}
button {
  margin-right: 5px;
}
#cancel,
#accept,
#clean {
  margin-right: 5px;
}
h3 {
  margin-left: 0;
}
#lim {
  margin-left: -0.5%;
}
