<div class="container-fluid">

  <div class="row">
    <div class="col">
      <h3>{{title}}</h3>
      <hr>

      <div class="card">

        <div class="card-body">
          <form class="form-horizontal" [formGroup]="filtersForm">
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="art">Artículo:</label>
              </div>

              <div class="form-group col-md-4">
                <div class="input-group">
                  <input type="text" class="form-control" min="0" [ngClass]="{
                                  'has-danger': filtersForm.controls.itemF.invalid && filtersForm.controls.itemF.dirty, 
                                  'has-success': filtersForm.controls.itemF.valid && filtersForm.controls.itemF.dirty
                              }"
                    placeholder="ARTÍCULO" formControlName='itemF' [(ngModel)]='filters.itmF'>
                </div>
              </div>

              <div class="form-group col-md-4">
                <span *ngIf="!flag" class="text-danger"> Campo no puede ser menor.</span>
                <div class="input-group">
                  <input type="text" class="form-control" min="0" [ngClass]="{
                        'has-danger':  filtersForm.controls.itemU.invalid && filtersForm.controls.itemU.dirty, 
                        'has-success':filtersForm.controls.itemU.valid && filtersForm.controls.itemU.dirty
                    }"
                    placeholder="ARTÍCULO" formControlName='itemU' [(ngModel)]='filters.itmU'>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="fech">Fecha:</label>
              </div>

              <div class="form-group col-md-4">
                <span *ngIf="filtersForm.controls.dateF.invalid && filtersForm.controls.dateF.touched" class="text-danger">
                  Campo Requerido.</span>
                <div class="input-group ">
                  <input class="form-control" [ngClass]="{
                          'has-danger': filtersForm.controls.dateF.invalid && filtersForm.controls.dateF.dirty , 
                          'has-success':filtersForm.controls.dateF.valid && filtersForm.controls.dateF.dirty 
                          }"
                    placeholder="yyyy-mm-dd" [maxDate]="datU" [(ngModel)]="datF" formControlName="dateF" ngbDatepicker
                    #dD="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dD.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <div *ngIf="filtersForm.controls.dateU.invalid && filtersForm.controls.dateU.touched" class="text-danger">
                  <span *ngIf="filtersForm.controls.dateU.invalid" class="text-danger">Seleccione una fecha menor.</span>
                  <span *ngIf="filtersForm.controls.dateU.required" class="text-danger">Campo requerido.</span>
                </div>
                <div class="input-group ">
                  <input class="form-control" [ngClass]="{
                                            'has-danger': filtersForm.controls.dateU.invalid && filtersForm.controls.dateU.dirty , 
                                            'has-success':filtersForm.controls.dateU.valid && filtersForm.controls.dateU.dirty}"
                    placeholder="yyyy-mm-dd" [maxDate]="maxDate" [minDate]="datF" [(ngModel)]="datU" formControlName="dateU"
                    ngbDatepicker #dH="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dH.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="alma">Almacén:</label>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="storage" [type]=2 [formControlName]="'storageF'"
                  [selectedItemIds]="filters.stoF" (code)="changeStorage($event)"></app-combo-construtodo>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="storage" [type]=2 [formControlName]="'storageU'"
                  [selectedItemIds]="filters.stoU"></app-combo-construtodo>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="">Línea:</label>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="line" [type]=2 [formControlName]="'lineF'"
                  [selectedItemIds]="filters.linF" (code)="changeLine($event)"></app-combo-construtodo>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="line" [type]=2 [formControlName]="'lineU'"
                  [selectedItemIds]="filters.linU"></app-combo-construtodo>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="">Categoría:</label>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="category" [type]=2 [formControlName]="'categoryF'"
                  [selectedItemIds]="filters.cateF" (code)="changeCategory($event)"></app-combo-construtodo>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="category" [type]=2 [formControlName]="'categoryU'"
                  [selectedItemIds]="filters.cateU"></app-combo-construtodo>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="">Proveedor:</label>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="provider" [type]=2 [formControlName]="'providerF'"
                  [selectedItemIds]="filters.provF" (code)="changeProvider($event)"></app-combo-construtodo>
              </div>
              <div class="form-group col-md-4">
                <app-combo-construtodo [service]="provider" [type]=2 [formControlName]="'providerU'"
                  [selectedItemIds]="filters.provU"></app-combo-construtodo>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="">Con movimientos:</label>
              </div>
              <div class="form-group col-md-8">
                <app-combo-construtodo [service]="movements" [type]=1 [formControlName]="'movements'"
                  [selectedItemIds]="filters.move" [hideCode]="true"></app-combo-construtodo>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="">Tipo de unidad:</label>
              </div>
              <div class="form-group col-md-8">
                <app-combo-construtodo [service]="unitType" [type]=1 [formControlName]="'unitType'"
                  [selectedItemIds]="filters.unit" [hideCode]="true"></app-combo-construtodo>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputCliente">Enviar a:</label>
              </div>
              <div class="form-group col-md-2">
                <select class="form-control" formControlName="sendTo" [(ngModel)]='send' placeholder="Enviar a: "
                  [ngClass]="{
                      'has-danger': filtersForm.controls.sendTo.invalid && filtersForm.controls.sendTo.dirty, 
                      'has-success':filtersForm.controls.sendTo.valid && filtersForm.controls.sendTo.dirty 
                    }">
                  <option value='' disabled>Enviar a</option>
                  <option value="Listado">Detalle</option>
                  <option value='PDF'>Archivo PDF</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <button type="button" class="btn btn-light" (click)="clearFields()" id="lim">
                <i class="fa fa-trash-o" id="clean" aria-hidden="true"></i>Limpiar Filtros</button>
              <button type="button" class="btn btn-light" (click)="accept()">
                <i class="fa fa-check" id="accept" aria-hidden="true"></i>Aceptar</button>
              <button type="button" class="btn btn-light" (click)="goBack()">
                <i class="fa fa-times" id="cancel" aria-hidden="true"></i>Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
